.guide {
  .polarity-fig {
    display: flex;
    justify-content: center;

    >div {
      @extend .px-3;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .paginator-bottom {
    @extend .pb-3;

    text-align: center;

    a {
      @extend .px-3;
    }

    .next {
      @extend .btn;
      @extend .btn-primary;
    }

    .prev {
      @extend .btn;
      @extend .btn-outline-primary;
    }
  }
}