#site-header {
  @extend .container;
  @extend .py-3;

  font-family: "Poppins", sans-serif;

  nav {
    text-transform: uppercase;
    font-weight: 600;

    ul {
      list-style: none;
      padding-left: 0;
    }
  }

  .logo-wordmark {
    font-weight: 700;
    font-size: 3rem;
    color: black;

    &:hover {
      color: blue;
    }
  }

  .logo-triangle {
    fill: rgba(255, 0, 0, 0.1);
    stroke: red;
    stroke-width: 1.5px;
  }

  .logo-predicate {
    fill: red;
    font-family: sans-serif;
    font-size: 10pt;
    text-anchor: middle;
    dominant-baseline: middle;
  }

  .logo-graphic {
    &:hover {
      .logo-triangle {
        fill: rgba(255, 0, 0, 0.2);
      }
    }
  }
}