---
title: Vocabulary extension dictionary - Trilangle Extensions
layout: default
description: The dictionary for words in the Trilangle Vocabulary Extension.
---

<main class="container">
  <h2>Dictionary</h2>
  <p class="lead">This is the dictionary for the <a href="/vocabulary/index.html">Trilangle Vocabulary Extension</a>. Visit <a href="/vocabulary/index.html">its homepage</a> for information about its phonology, orthography, and morphology rules.</p>

  <p>Words are grouped by their semantic family and their heading is the word with the lowest arity. For example, <i>ᑯᐃ love</i> and <i>ᑯᐃᕑ to love</i> share a family, and its heading is <i>ᑯᐃ</i> because it is 1-place whereas ᑯᐃᕑ is 3-place. Words prefixed with an asterisk * is either debated or nonexistent and should not be used in practice.</p>

  {% assign dictionary = site.data.vocabulary | sort: "gloss" %}
  {% for word in dictionary %}
    <article>
      <h3><tri-vocab>{{ word.stem }}</tri-vocab> - {{ word.gloss }}</h3>
      <ol>
        {% if word.one %}
        <li>
          <b>
            <tri-vocab>{{ word.stem }}</tri-vocab>
            /{{ word.stem | remove: " " }}/
          </b> - {{ word.one }}
        </li>
        {% else %}
          <li class="text-muted">No one-place form</li>
        {% endif %}

        {% if word.two %}
        <li>
          <b>
            <tri-vocab>{{ word.stem }} m</tri-vocab>
            /{{ word.stem | remove: " " }}m/
          </b> - {{ word.two }}
        </li>
        {% else %}
          <li class="text-muted">No two-place form</li>
        {% endif %}

        {% if word.three %}
          <li>
            <b>
              <tri-vocab>{{ word.stem }} r</tri-vocab>
              /{{ word.stem | remove: " " }}r/
            </b> - {{ word.three }}
          </li>
        {% else %}
          <li class="text-muted">No three-place form</li>
        {% endif %}
      </ol>
    </article>
  {% endfor %}

  <script type="module" src="/assets/js/tri-vocab-element.js"></script>
</main>